.react-html5-camera-photo>video {
    width: 100vw ;
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-block !important
}

#container-circles {
    position: fixed;
    bottom: 45px;
    left: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-circle {
    display: none;
}

.do-transition {
    display: none;
}

.react-html5-camera-photo>img {
    display: none !important;
}